# Useful `.gitignore` templates:
# https://github.com/github/gitignore

# ----------------------------------------------------------------------
# | Project                                                            |
# ----------------------------------------------------------------------

docs/posts

# ----------------------------------------------------------------------
# | Linux                                                              |
# ----------------------------------------------------------------------

*~


# ----------------------------------------------------------------------
# | Miscellaneous                                                      |
# ----------------------------------------------------------------------

# Node.js, npm, and yarn.

node_modules
*.diff
*.err
*.log
*.rej


# ----------------------------------------------------------------------
# | macOS                                                              |
# ----------------------------------------------------------------------

._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes


# ----------------------------------------------------------------------
# | Vim                                                                |
# ----------------------------------------------------------------------

%*
*.sw[a-z]
*.un~
.netrwhist
Session.vim


# ----------------------------------------------------------------------
# | Windows                                                            |
# ----------------------------------------------------------------------

Desktop.ini
ehthumbs.db
Thumbs.db

# ----------------------------------------------------------------------
# | VS Code                                                              |
# ----------------------------------------------------------------------

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# ----------------------------------------------------------------------
# | IDE                                                              |
# ----------------------------------------------------------------------

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

