@layer fonts, base, layout, design, animation, utilities, preferences;

@layer fonts {
	@font-face {
		font-display: swap;
		font-family: 'Luckiest Guy';
		font-style: normal;
		font-weight: 400;
		src: url('./assets/fonts/LuckiestGuy-Regular.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Zilla Slab';
		font-style: normal;
		font-weight: 400;
		src: url('./assets/fonts/ZillaSlab-Regular.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Zilla Slab';
		font-style: italic;
		font-weight: 400;
		src: url('./assets/fonts/ZillaSlab-Italic.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Zilla Slab';
		font-style: normal;
		font-weight: 700;
		src: url('./assets/fonts/ZillaSlab-Bold.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Zilla Slab';
		font-style: italic;
		font-weight: 700;
		src: url('./assets/fonts/ZillaSlab-BoldItalic.woff2') format('woff2');
	}

	/* @todo Subset + unicode-range pour chaque niveau ? */
	@font-face {
		font-display: swap;
		font-family: 'Twemoji Mozilla';
		font-style: normal;
		font-weight: 400;
		src: local('Twemoji Mozilla'), url('./assets/fonts/Twemoji.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'FontWithASyntaxHighlighter';
		src: url('./assets/fonts/FontWithASyntaxHighlighter-Regular.woff2') format('woff2');
	}
}

@layer base {
	html:where([lang]) {
		--background: #231745;
		--foreground: #ffd529;
		--accent: lime;
		--muted: #767676;
		--enter: cubic-bezier(0, .5, .5, 1);

		box-sizing: border-box;
		caret-color: var(--accent);
		color-scheme: dark;
		overflow-y: scroll;
		position: relative;
		text-size-adjust: none;
	}

	html:where([lang]):focus-within {
		scroll-behavior: smooth;
	}

	*,
	*::after,
	*::before {
		box-sizing: inherit;
	}

	body {
		background: var(--background);
		color: var(--foreground);
		font: normal 400 1.5rem/1.5 sans-serif;
		font-family: 'Zilla Slab', system-ui, sans-serif;
		margin: 0;
		min-block-size: 100vh;
		overflow-x: hidden;
		position: relative;
		-webkit-font-smoothing: subpixel-antialiased;
		text-rendering: optimizeSpeed;
	}

	::selection {
		background-color: var(--accent);
		color: var(--background);
		text-shadow: none;
	}

	::placeholder {
		color: var(--muted);
	}

	code,
	pre,
	video,
	svg {
		max-inline-size: 100%;
	}

	svg {
		fill: currentColor;
	}

	[hidden],
	[role="alert"]:empty {
		display: none;
	}

	a,
	input,
	button,
	select,
	summary,
	textarea,
	[tabindex="0"] {
		outline-offset: 1rem;
		transition: outline-offset .3s var(--enter);
	}

	:focus {
		outline-color: transparent;
	}

	:focus-visible {
		box-shadow: 0 0 0 .125rem var(--background);
		isolation: isolate;
		outline: .125rem solid;
		outline-offset: .125rem;
	}

	a,
	button {
		background-color: color-mix(in srgb, var(--background) 80%, #000);
		border: .25rem solid;
		border-radius: .25rem;
		color: var(--accent);
		display: inline-flex;
		font: inherit;
		font-weight: bold;
		padding: .25rem 1rem;
		text-decoration: none;
		touch-action: manipulation;
	}

	a:hover,
	button:hover {
		color: var(--foreground);
		cursor: pointer;
	}

	a svg,
	button svg {
		pointer-events: none;
	}

	main {
		outline-color: transparent;
	}

	h1, h2, h3, h4, h5, h6 {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin: 3rem 0 1.5rem;
		text-rendering: optimizelegibility;
		text-wrap: balance;
	}

	:is(h1, h2, h3, h4, h5, h6):first-child {
		margin-block-start: 0;
	}

	div,
	textarea {
		hyphens: auto;
		word-wrap: break-word;
	}

	p, li, dd {
		hyphenate-limit-chars: 6 3 2;
		hyphenate-limit-lines: 2;
		hyphenate-limit-last: always;
		hyphenate-limit-zone: 8%;
		hyphens: auto;
		text-wrap: pretty;
		word-wrap: break-word;
	}

	pre, code, var, samp,
	input, textarea {
		font-family: "FontWithASyntaxHighlighter", monospace;
		font-size: 1.5rem;
	}

	pre {
		hyphens: none;
		inline-size: min-content;
		line-height: 1.25;
		margin: 0;
		overflow-x: auto;
		padding: 0;
		tab-size: 4;
		text-align: start;
		white-space: pre;
		word-break: normal;
		word-spacing: normal;
		word-wrap: normal;
	}

	form {
		inline-size: min-content;
	}

	form[method="dialog"] {
		display: flex;
		gap: 2rem;
		inline-size: 100%;
		justify-content: end;
	}

	form p {
		text-align: end;
	}

	input,
	textarea {
		background-color: transparent;
		inline-size: calc(100% - (4ch * var(--tabs, 1)));
		border: 1px solid var(--accent);
		font-size: 1.5rem;
		margin-block: .5rem;
		margin-inline-start: calc(4ch * var(--tabs, 1));
		padding: .5rem;
	}

	[id="condition"] {
		--tabs: 3;
	}
}

@layer layout {
	body {
		color: #fff;
		display: grid;
		grid-template: 10rem auto / 1fr 1fr;
	}

	.splash {
		place-content: center;
		grid-template: initial;
	}

	main {
		grid-area: 2 / 1;
		padding: 1rem;
	}

	play-ground {
		background-color: color-mix(in srgb, var(--background) 75%, #000);
		border-radius: .5rem;
		block-size: calc(100vh - 2rem);
		grid-area: 1 / 2 / span 2 / 2;
		margin: 1rem;
		overflow: hidden;
		position: relative;
	}

	mu-tant {
		aspect-ratio: 1;
		block-size: 6rem;
		display: inline-flex;
		font-family: 'Twemoji Mozilla', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
		font-size: 4rem;
		place-content: center;
		position: absolute;
	}
}

@layer design {
	dialog {
		background: var(--background);
		border-color: #000;
		border-radius: .5rem;
		box-shadow: 0 0 10rem #000;
		max-inline-size: clamp(50vw, 100%, 67.5rem);
	}

	dialog::backdrop {
		backdrop-filter: grayscale(50%) blur(.25rem);
	}

	dialog h2 {
		color: var(--accent);
		font-family: 'Luckiest Guy', system-ui, sans-serif;
	}

	dialog button {
		background-color: transparent;
		border-color: transparent;
	}

	/**
	 @link https://codepen.io/enbee81/pen/WNdKLBY
	 @link https://codepen.io/gayane-gasparyan/pen/vYmYMeV
	 @link https://codepen.io/argyleink/pen/MWoeoKV
	 */
	h1 {
		color: var(--accent);
		font-family: 'Luckiest Guy', system-ui, sans-serif;
		font-size: 4rem;
		line-height: 1;
		padding: 1rem;
		transform:
			perspective(12rem)
			rotateY(12deg)
			rotateX(6deg);
		transform-origin: 0;
	}

	h1::first-line {
		color: var(--foreground);
		font-family: 'Zilla Slab', system-ui, sans-serif;
		font-size: 1.75rem;
		line-height: 2;
	}

	.splash h1 {
		font-size: 8rem;
		transform:
			perspective(50rem)
			rotateY(48deg)
			rotateX(24deg);
		transform-origin: 50%;
	}

	.splash main {
		padding-block-start: 0;
		text-align: right;
	}

	.splash h1::first-line {
		font-size: 4rem;
		line-height: 1.5;
	}

	footer {
		display: flex;
		margin-block-start: 6rem;
	}

	footer p {
		color: var(--muted);
		line-height: 2;
	}

	.networks {
		display: flex;
		filter: invert(100%);
		list-style: none;
	}

	.networks a {
		background-color: transparent;
		border-color: transparent;
	}

	.carte {
		align-items: center;
		background-color: color-mix(in srgb, var(--background) 90%, #fff);
		border-radius: .5rem;
		display: flex;
		gap: 1rem;
		margin-block-end: 4rem;
		padding: 1rem;
	}

	.portrait {
		aspect-ratio: 1;
		block-size: 6rem;
		font-family: 'Twemoji Mozilla', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
		font-size: 6rem;
		line-height: .8;
		margin: 0;
	}

	.description {
		font-size: 1.5rem;
		line-height: 1.25;
		margin: 0;
	}
}

@layer animation {
	@keyframes zombie {
		13% { transform: translateX(calc(12rem * var(--direction))) translateY(0); }
		26%, 78% { transform: translateX(calc(12rem * var(--direction))) translateY(calc(12rem * var(--direction))); }
		39% { transform: translateX(calc(24rem * var(--direction))) translateY(calc(12rem * var(--direction))); }
		52% { transform: translateX(calc(24rem * var(--direction))) translateY(calc(24rem * var(--direction))); }
		65% { transform: translateX(calc(12rem * var(--direction))) translateY(calc(24rem * var(--direction))); }
		91% { transform: translateX(0) translateY(calc(12rem * var(--direction))); }
	}

	[type="zombie"] {
		--direction: 1;
		animation: zombie 48s steps(48, end) infinite;
		inset-block-start: clamp(0%, var(--placement, 50) * 1%, 100%);
		inset-inline-start: clamp(0%, var(--placement, 50) * 1%, 100%);
		transform: translateX(0) translateY(0);
	}

	[type="zombie"]:nth-child(odd) {
		--direction: -1;
		inset-inline-start: clamp(0%, var(--placement, 50) * .5%, 50%);
	}

	[type="zombie"]:nth-child(3n +1) {
		inset-inline-start: clamp(50%, var(--placement, 50) * 1%, 100%);
		scale: .75;
	}

	[type="zombie"]:nth-child(4n +1) {
		inset-block-start: clamp(0%, var(--placement, 50) * .5%, 50%);
	}

	[type="zombie"]:nth-child(5n +1) {
		inset-block-start: clamp(50%, var(--placement, 50) * 1%, 100%);
		scale: .5;
	}

	[type="zombie"]:nth-child(6n +1) {
		inset-inline-start: clamp(50%, var(--placement, 50) * 1%, 100%);
	}
}

@layer utilities {
	.sr-only {
		border: 0;
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
	}
}

@layer preferences {}
