@layer fonts, base, layout, design, preferences;

@layer fonts {
	/* @todo Subset pour « mutan » */
	@font-face {
		font-display: swap;
		font-family: 'Luckiest Guy';
		font-style: normal;
		font-weight: 400;
		src: url('./assets/fonts/LuckiestGuy-Regular.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Zilla Slab';
		font-style: normal;
		font-weight: 400;
		src: url('./assets/fonts/ZillaSlab-Regular.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Zilla Slab';
		font-style: italic;
		font-weight: 400;
		src: url('./assets/fonts/ZillaSlab-Italic.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Zilla Slab';
		font-style: normal;
		font-weight: 700;
		src: url('./assets/fonts/ZillaSlab-Bold.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Zilla Slab';
		font-style: italic;
		font-weight: 700;
		src: url('./assets/fonts/ZillaSlab-BoldItalic.woff2') format('woff2');
	}

	@font-face {
		font-display: block;
		font-family: 'Twemoji Mozilla';
		font-style: normal;
		font-weight: 400;
		src: local('Twemoji Mozilla'), url('./assets/fonts/Twemoji.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'FontWithASyntaxHighlighter';
		src: url('./assets/fonts/FontWithASyntaxHighlighter-Regular.woff2') format('woff2');
	}
}

@layer base {
	html:where([lang]) {
		--background: #231745;
		--foreground: #ffd529;
		--accent: lime;
		--muted: #767676;

		box-sizing: border-box;
		caret-color: var(--accent);
		color-scheme: dark;
		overflow-y: scroll;
		position: relative;
		text-size-adjust: none;
	}

	html:where([lang]):focus-within {
		scroll-behavior: smooth;
	}

	*,
	*::after,
	*::before {
		box-sizing: inherit;
	}

	body {
		background: var(--background);
		color: var(--foreground);
		font: normal 400 1.5rem/1.5 sans-serif;
		font-family: 'Zilla Slab', system-ui, sans-serif;
		margin: 0;
		min-block-size: 100vh;
		overflow-x: hidden;
		position: relative;
		-webkit-font-smoothing: subpixel-antialiased;
		text-rendering: optimizeSpeed;
	}

	::selection {
		background-color: var(--accent);
		color: var(--background);
		text-shadow: none;
	}

	::placeholder {
		color: var(--muted);
	}

	code,
	pre,
	video,
	svg {
		max-inline-size: 100%;
	}

	svg {
		fill: currentColor;
	}

	[hidden],
	[role="alert"]:empty {
		display: none;
	}

	a,
	input,
	button,
	select,
	summary,
	textarea,
	[tabindex="0"] {
		outline-offset: 1rem;
		transition: outline-offset 0.3s var(--enter);
	}

	:focus {
		outline-color: transparent;
	}

	:focus-visible {
		box-shadow: 0 0 0 .125rem var(--background);
		isolation: isolate;
		outline: .125rem solid var(--accent);
		outline-offset: .125rem;
	}

	a {
		color: var(--secondary);
		text-decoration-style: dotted;
		text-decoration-skip-ink: auto;
		text-decoration-thickness: max(.1em, 1px);
		text-underline-offset: .25em;
	}

	a:hover {
		color: color-mix(var(--secondary) 60%, var(--background));
		text-decoration-style: solid;
	}

	a:focus {
		color: color-mix(var(--secondary) 60%, var(--background));
		text-decoration: none;
	}

	a:active {
		opacity: .75;
	}

	a,
	button {
		touch-action: manipulation;
	}

	a svg,
	button svg {
		pointer-events: none;
	}

	main {
		outline-color: transparent;
	}

	h1, h2, h3, h4, h5, h6 {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin: 3rem 0 1.5rem;
		text-rendering: optimizelegibility;
		text-wrap: balance;
	}

	:is(h1, h2, h3, h4, h5, h6):first-child {
		margin-block-start: 0;
	}

	div,
	textarea {
		hyphens: auto;
		word-wrap: break-word;
	}

	p, li, dd {
		hyphenate-limit-chars: 6 3 2;
		hyphenate-limit-lines: 2;
		hyphenate-limit-last: always;
		hyphenate-limit-zone: 8%;
		hyphens: auto;
		text-wrap: pretty;
		word-wrap: break-word;
	}

	pre, code, var, samp,
	input, textarea {
		font-family: "FontWithASyntaxHighlighter", monospace;
	}

	pre {
		line-height: 1.5;
		hyphens: none;
		tab-size: 4;
		overflow-x: auto;
		padding: 2rem 1rem .5rem;
		text-align: start;
		white-space: pre;
		word-break: normal;
		word-spacing: normal;
		word-wrap: normal;
	}
}

@layer layout {
	body {
		display: grid;
		grid-template: 6rem auto / 1fr 1fr;
	}

	.splash {
		place-content: center;
	}

	main {
		grid-area: 2 / 1;
		padding: 2rem;
	}
}

@layer design {
	/**
	 @link https://codepen.io/enbee81/pen/WNdKLBY
	 @link https://codepen.io/gayane-gasparyan/pen/vYmYMeV
	 @link https://codepen.io/argyleink/pen/MWoeoKV
	 */
	h1 {
		color: var(--accent);
		font-family: 'Luckiest Guy', system-ui, sans-serif;
		font-size: 3rem;
		line-height: 1;
		padding: 2rem;
		transform:
			perspective(12rem)
			rotateY(12deg)
			rotateX(6deg);
		transform-origin: top left;
	}

	h1::first-line {
		color: var(--foreground);
		font-family: 'Zilla Slab', system-ui, sans-serif;
		font-size: 1.5rem;
	}

	.splash h1 {
		font-size: 8rem;
		transform:
			perspective(50rem)
			rotateY(48deg)
			rotateX(24deg);
	}

	.splash h1::first-line {
		font-size: 4rem;
	}
}
