<ul role="list" class="related">
	<li>
		<a href="https://www.ffoodd.fr">
			<img src="/assets/accesslide/img/ffoodd.svg" alt="Blog de Gaël Poupard" height="32" width="32">
		</a>
	</li>
	<li>
		<a href="https://mamot.fr/@ffoodd" rel="me">
			<img src="/assets/accesslide/img/mastodon.svg" alt="@ffoodd sur Mastodon" height="32" width="32">
		</a>
	</li>
	<li>
		<a href="https://github.com/ffoodd/">
			<img src="/assets/accesslide/img/github.svg" alt="@ffoodd sur Github" height="32" width="32">
		</a>
	</li>
	<li>
		<a href="https://www.linkedin.com/in/ga%C3%ABl-poupard-40117b30/">
			<img src="/assets/accesslide/img/linkedin.svg" alt="Gaël Poupard sur Linkedin" height="32" width="32">
		</a>
	</li>
	<li>
		<a href="https://www.paris-web.fr/">
			<img src="/assets/accesslide/img/pw.svg" alt="Paris Web" height="32" width="32">
		</a>
	</li>
</ul>
