{% extends "../base.njk" %}

{%- block skiplinks %}
	<a class="skip scroll pa1 inbl smaller print-hidden" href="#content">Aller au contenu</a>
	<a class="skip scroll pa1 inbl smaller print-hidden" href="#sommaire">Aller au sommaire</a>
{%- endblock %}

{%- block content %}
	<article role="article" itemscope itemtype="https://schema.org/{% if format === 'status' %}Book{% else %}Article{% endif %}">
		<time class="screen-reader-text" datetime="{{ date }}" itemprop="datePublished">{{ date | date }}</time>
		{%- if format === 'status' %}
			{% include '../partials/content-status.njk' %}
		{%- elseif format === 'quote' %}
			{% include '../partials/content-quote.njk' %}
		{%- else %}
			<div itemprop="articleBody">
				{{ content | safe }}
			</div>
		{%- endif %}
		<footer class="small mt2">
			<p class="pl2 mt0 pt1">
				Article rédigé par <strong itemprop="author"><span class="fn">{{ site.author.name }}</span></strong>.
				Publié le <time class="updated" datetime="{{ date }}" itemprop="datePublished">{{ date | date }}</time>
				{%- if modified !== null and modified !== date %}
				 et modifié le <time class="updated" datetime="{{ modified }}" itemprop="dateModified">{{ modified | date }}</time>
				{%- endif -%}.
			</p>
		</footer>
	</article>
{% endblock %}

{% block comments %}
	{%- set slug = permalink | replace("/index.html", "") -%}
	{%- set comments = collections.comments | comments(slug) -%}
	{%- set commentsNumber = comments | length -%}
	{%- if commentsOpen === 'true' or commentsNumber > 0 -%}
		<div id="comments" class="comments-area pl2 pt2 mt2 print-hidden">
			{%- if commentsNumber > 0 -%}
				{% include '../partials/comments-list.njk' %}
			{%- endif -%}

			{%- if commentsOpen === 'true' -%}
				{% include '../partials/comments-form.njk' %}
			{%- endif -%}
		{%- endif -%}
{%- endblock %}

{%- block aside %}
	{%- set slug = permalink | replace("/index.html", "") -%}
	{%- set comments = collections.comments | comments(slug) -%}
	{%- set commentsNumber = comments | length -%}
	<aside class="col pt8 pl0 pr0 print-hidden" role="complementary" id="sommaire">
		<div class="aside pt1 pr3 pb1 pl2">
			<h3 class="tk-bello-pro h2-like m-reset">Sommaire</h3>
			<div class="textwidget">
				{{ content | toc | replace('</ol>', '') | safe }}
					{%- if commentsNumber > 0 -%}
						<li><a href="#comments">Commentaires</a></li>
					{%- endif -%}
				</ol>
			</div>
		</div>
	</aside>
{%- endblock %}
