@font-face {
    font-family: 'bello-pro-1';
    src: url('../fonts/bello-pro.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'museo-slab-1';
    src: url('../fonts/museo-slab-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'museo-slab-1';
    src: url('../fonts/museo-slab-300-italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'museo-slab-1';
    src: url('../fonts/museo-slab-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'museo-slab-1';
    src: url('../fonts/museo-slab-500-italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
